.CTA-main {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid lightseagreen; */
}

.CTA-sub {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
    /* border: 2px solid red; */

}

.Home-main {
    width: 100%;
    height: max-content;
    /* border: 3px dotted wheat; */
}

.Work-main{
    width: 100%;
    min-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid crimson;
}

.Work-sub {
    border: 2px dotted black;
}

.Title-main {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px dotted white; */
}